<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
		<h1>About</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam vero asperiores culpa temporibus commodi iusto quod voluptatibus vitae, nisi doloremque similique quo adipisci, eaque aliquid. Vel id fugit perspiciatis repudiandae.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, repudiandae veniam totam placeat perspiciatis accusantium adipisci laboriosam quia modi commodi voluptatem rem voluptate quis ad itaque, sapiente molestias laudantium eum.</p>
	</body>
</html>
